{% extends 'base.html' %}

{% block content %}
  <main class="container py-5">
    <section class="card card-body">
      <h1 class="display-1 text-center">Django App</h1>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate vel velit dolorem quas similique eveniet assumenda fuga asperiores explicabo cumque quam illo rem repellat voluptatibus quisquam minus dolor saepe autem consectetur, delectus est quaerat odit aut. Accusamus magnam, dignissimos sit repellat eveniet quidem inventore fuga illo dolor, laboriosam suscipit aliquid doloribus doloremque omnis excepturi itaque perspiciatis officiis nobis porro asperiores! Quam placeat mollitia hic adipisci veritatis voluptates in facilis! Architecto enim beatae blanditiis facere alias rem et temporibus quis, quod natus! Fugiat omnis quos ut reprehenderit? Qui dignissimos ab eos, voluptatum commodi numquam doloribus, illo consequuntur consectetur consequatur rem aliquid.</p>
      <div class="text-center">
        <a class="btn btn-secundaty" href="/signin/">Iniciar sesión</a>
        <a class="btn btn-dark" href="/signup">Registrarse</a>
      </div>
    </section>
  </main>
{% endblock %}
